{%macro render_launch(launch) %}
<div class="d-flex flex-row border border-black align-items-center ">
    {% if launch.links.patch.large %}
    <img  style=" height: 100px;" src="{{launch.links.patch.large}}" alt="{{launch.name}}">
    {%endif%}

    <div>
        <div>{{launch.name}}</div>
        {%if launch.details%}
        <p>{{launch.details}}</p>
        {%endif%}
        <p>{{launch.date_utc|date_only}}</p>
       
        <a href="{{launch.links.article}}" target="_blank">Article</a>
       
    </div>
</div>
{%endmacro%}