<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
</head>
<body>
      <form action="submit_form" method = "post">
      <div class="form-group">
        <h1>City        </h1>
        <input name="subject" type="text" class="form-control" id="subject" placeholder="City Name">
      </div>
      <button type = "submit">submit</button>
    </form>
    <h1>IN {{city}}</h1>
    <h3>Weather :: {{weather}}</h3>
    <h3>Temprature :: {{temp}}</h3>
    <h3>temprature feels :: {{feel}}</h3>
    <h3>humidity :: {{humidity}}</h3>

    
    
</body>
</html>
